$color__background-body: #061E4E;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-transparency: rgba(0, 0, 0, 0.75);
$color__background-full-transparent: rgba(0, 0, 0, 0);

$color__text-screen: #C189DD;
$color__text-input: white;
$color__text-input-focus: white;
$color__link: #C189DD;
$color__link-visited: #C189DD;
$color__link-hover: #AA00FF;
$color__text-main: white;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
