@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// stylelint-disable value-keyword-case
$font__main: 'Roboto', sans-serif;
// stylelint-enable value-keyword-case
$font__code: 'Roboto', sans-serif;
$font__pre: 'Roboto', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
